.main__content {
  padding: 24px 24px 12px;
}

.footer__container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 12px;
  border-top: 1px solid var(--separator-primary-alpha);
}

.footer__button {
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 16px;
  border-radius: 8px;
  background: var(--background-accent-themed);
  border: none;
}

.footer__text {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text-contrast-themed)
}