.caption_error {
    width: 328px;
    height: 16px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;

    color: var(--text-negative);
    
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 6px;

    width: 100%;
    min-height: 84px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.subhead {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 2px 0;
    gap: 12px;

    width: 328px;
    height: 18px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: -0.004em;

    color: var(--text-subhead);

    flex: none;

}

.show_password {
    cursor: pointer;
}

.text {
    //styleName: System Font/Paragraph;
    width: 80%;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--text-primary);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.customSelect {
    position: relative;
    width: 100%;
    height: 36px;
    cursor: pointer;
    user-select: none;

    .selectedOption {
        padding: 6px 10px;
        border: 0.5px solid var(--field-border-alpha);
        border-radius: 8px;
        background: var(--background-secondary);
        height: 36px;
        text-wrap: none;

        display: flex;
        justify-content: space-between;

        img {
            height: 16px;
            width: 16px;
            margin-top: 4px;
            margin-left: auto;
        }


    }

    .optionsList {
        position: absolute;
        width: 100%;
        background: var(--background-content);
        border: 0.5px solid var(--field-border-alpha);
        border-radius: 8px;
        //margin-top: 4px;
        z-index: 10;

        list-style-type: none;
        padding-left: 0;
        margin-top: 5px;

        .option {
            padding: 8px 12px;
            border-radius: 8px;

            &:hover {
                background-color: var(--transparent-hover);
            }
        }
    }
}