.card__container {
  display: flex;
  width: fit-content;
  height: 24px;
  border-radius: 6px;
  padding: 0 8px;

  &_active {
    @extend .card__container;
    background-color: #3CA03E;
  }
  &_frozen {
    @extend .card__container;
    background-color: #2688EB;
  }
  &_blocked {
    @extend .card__container;
    background-color: #D83E3C;
  }
}

.card__text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--text-contrast-themed)
}