.caption_error {
    width: 328px;
    height: 16px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;

    color: #E64646;
    
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0;
    gap: 6px;

    width: 100%;
    min-height: 84px;

    flex: none;
    //order: 1;
    flex-grow: 0;
}

.input_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    width: 100%;
    /* max-width: 328px; */
    height: 36px;

    background: #F2F3F5;
    /* background: var(--color-auth-textarea); */

    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}


.subhead {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 2px 0;
    gap: 12px;

    width: 328px;
    height: 18px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: -0.004em;

    color: #6d7885;
    /* color: var(--color-auth-subhead); */

    flex: none;

}

.show_password {
    cursor: pointer;
}

.textarea {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* max-width: 280px; */
    height: 20px;
    background: transparent;
    border: none;
    outline: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    letter-spacing: -0.007em;

}

.show_password {
    cursor: pointer;
}

